:host {
    flex-grow: 4;
    font-family: SST Light;
    max-width: 100%;
}

.upperContainer {
    // width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    color: white;
    background-image: linear-gradient( to right, #002a5c, #00397e,  #002a5c);
    // padding: 20px 30px;
    width: calc(100% - 40px);
    padding: 20px;
}

.userInfo {
    width: 100%;
    align-items: center;
    display: flex;
    flex-flow: wrap;
}

.userIdContainer {
    align-items: center;
    display: flex;
}

.userId {
    font-weight: bold;
    font-size: 25px;
    padding-left: 20px;
    font-family: SST Roman;
}

.totalStats {
    flex-grow: 1;    
    display: flex;
    justify-content: flex-end;
    font-family: 'SST Roman';
}

.totalCountContainer {
    display: flex;
    flex-direction: column;
}

.totalCountNum {
    font-size: 25px;
}

.totalCountLabel {
    font-size: 12px;
    text-align: right;
}

.trophyImage {
    max-height: 80px;
    height: 5vw;
    min-height: 30px;
    filter: drop-shadow(3px 3px 5px #222);
}

.trophyCountsContainer {
    display: flex;
    width: 100%;
    margin-top: 5px;
}

.trophyCount {
    width: 25%;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: center;
}

.trophyCountNum {
    font-size: calc(12px + 1.5vw);
    padding-left: 8px;
}

.platinumIcon {
    border-radius: 6px;
    filter: drop-shadow(2px 2px 7px black);
}

.lowerContainer {
    padding: 20px;
    background-color: yellow;
    width: calc(100% - 40px);
    background-image: linear-gradient(#072250, #051f4a);
    text-align: center;
}

.divider {
    width: 100%;
    height: 3px;
    background-color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    opacity: 0.2;
    border-radius: 10px;
}

.platinumGrid {
    display: grid;
    // grid-template-columns: repeat( auto-fill, minmax(60px, 1fr) );
}

.levelImage {
    height: 30px;
    margin-right: 10px;
    margin-top: -5px; // todo
}

.levelContainer{
    display: flex;
    flex-direction: column;
    margin-right: 30px;
}

.progressBarBase {
    width: 100%;
    height: 5px;
    margin-top: 6px;
    background-color: white;
    border-radius: 3px;
    opacity: 0.3;
}

.progressBar {
    width: 100%;
    height: 5px;
    margin-top: 6px;
    background-color: white;
    border-radius: 3px;
    margin-top: -5px;
}

.levelNum {
    font-size: 25px;
}

.levelUpperContainer {
    display: flex;
}

.platIconContainer {
    display: flex;
    flex-direction: column;
    color: white;
    margin-top: 4px;
    margin-bottom: 4px;
    align-items: center;
}

.cabinetPlatIconContainer {
    max-width: 100px;
}

.totalPage {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.cabinetContainer {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
    overflow: auto;
}

.title {
    font-family: SST Medium;
    margin-top: 5px;
}