.upperContainer {
    // width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    color: white;
    background-image: linear-gradient( to right, #002a5c, #00397e,  #002a5c);
    // padding: 20px 30px;
    width: calc(100% - 40px);
    padding: 20px;
}

.userInfo {
    width: 100%;
    align-items: center;
    display: flex;
    flex-flow: wrap;
}

.userIdContainer {
    align-items: center;
    display: flex;
}

.userId {
    font-weight: bold;
    font-size: 25px;
    padding-left: 20px;
    font-family: SST Roman;
}

.totalStats {
    flex-grow: 1;    
    display: flex;
    justify-content: flex-end;
}

.totalCountContainer {
    display: flex;
    flex-direction: column;
}

.totalCountNum {
    font-size: 25px;
}

.totalCountLabel {
    font-size: 12px;
    text-align: right;
}

.outerContainer {
    font-family: SST Light;
    max-width: 100vw;
    margin: 10px;
}

.trophyImage {
    // width: 75px;
    max-height: 80px;
    height: 8vw;
}

.trophyCountsContainer {
    display: flex;
    width: 100%;
    margin-top: 5px;
}

.trophyCount {
    width: 25%;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: center;
}

.trophyCountNum {
    font-size: 4vw;
    padding-left: 10px;
}

.platinumIcon {
    border-radius: 6px;
    box-shadow: 2px 2px 10px 0px black;
    margin: 4px;
}

.lowerContainer {
    padding: 20px;
    background-color: yellow;
    width: calc(100% - 40px);
    background-image: linear-gradient(#072250, #051f4a);
    text-align: center;
}

// .avatar {
//     // width: 50px;
// }

.divider {
    width: 100%;
    height: 3px;
    background-color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    opacity: 20%;
    border-radius: 10px;
}

.platinumGrid {
    display: grid;
    // grid-template-columns: repeat( auto-fill, minmax(60px, 1fr) );
}

.levelImage {
    width: 30px;
    margin-right: 10px;
    margin-top: -10px; // todo
}

.levelContainer{
    display: flex;
    flex-direction: column;
    margin-right: 30px;
}

.progressBarBase {
    width: 100%;
    height: 5px;
    margin-top: 6px;
    background-color: white;
    border-radius: 3px;
    opacity: 30%;
}

.progressBar {
    width: 100%;
    height: 5px;
    margin-top: 6px;
    background-color: white;
    border-radius: 3px;
    margin-top: -5px;
}

.levelNum {
    font-size: 25px;
}

.levelUpperContainer {
    display: flex;
}

mat-form-field {
    width: 100%;
}

.search-box {
    color: white;
    width: 100%;
    // height: 80px;
    font-size: 20px;
}

.options {
    margin: 10px auto;
    width: calc(100% - 50px);
}

.example-margin {
    margin-right: 20px;
}

.slider {
    width: 100%;
}

.example-section {
    margin-bottom: 15px;
}

.platIconContainer {
    display: flex;
    flex-direction: column;
    color: white;
    margin: 4px 0;
}

.mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
}

.iconTypeLabel {
    margin-bottom: 10px;
}

.spinner {
    margin: 15px auto;
}

.section {
    margin: 15px 0;
    min-height: 80px;
}

.saveButton {
    margin-top: 20px;
}

.mat-divider-horizontal {
    position: static !important;
}