mat-form-field {
    width: 100%;
}

mat-progress-bar {
    margin-top: -26px;
    margin-bottom: 22px;
}

a {
    color: #69f0ae;
}

.search-box {
    font-size: 20px;
}

.search-card {
    margin-bottom: 10px;
}

.error {
    margin-top: 20px;
    color: red;
}

.action-button {
    margin-top: 20px;
}