<div class="totalPage">
  <mat-card class="options">
    <mat-card-content>
      <div class="search-box">

        <ng-container *ngIf="psnService.user">
          <h1 class="settingsTitle">Settings</h1>
          <mat-accordion>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Theme
                </mat-panel-title>
                <mat-panel-description>
                </mat-panel-description>
              </mat-expansion-panel-header>
              <section class="section">
                <h2>Color</h2>
                <mat-radio-group class="radioGroup" aria-label="Color" [(ngModel)]="displaySettings.color">
                  <mat-radio-button class="radioButton" value="BLUE">Blue</mat-radio-button>
                  <mat-radio-button class="radioButton" value="GREEN">Green</mat-radio-button>
                  <mat-radio-button class="radioButton" value="RED">Red</mat-radio-button>
                  <mat-radio-button class="radioButton" value="PINK">Pink</mat-radio-button>
                  <mat-radio-button class="radioButton" value="ORANGE">Orange</mat-radio-button>
                </mat-radio-group>
              </section>

            </mat-expansion-panel>

            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Visuals
                </mat-panel-title>
                <mat-panel-description>
                </mat-panel-description>
              </mat-expansion-panel-header>
              <section class="section">
                <h2>Icon Type</h2>
                <mat-radio-group class="radioGroup" aria-label="Icon Type" [(ngModel)]="displaySettings.iconType">
                  <mat-radio-button class="radioButton" value="TROPHY">Trophy</mat-radio-button>
                  <mat-radio-button class="radioButton" value="GAME">Game</mat-radio-button>
                </mat-radio-group>
              </section>

              <mat-divider></mat-divider>
              <section class="section">
                <h2>Icon Size</h2>
                <mat-slider class="slider" thumbLabel min="10" max="200" step="1" value="56"
                  [(ngModel)]="displaySettings.iconWidthPx">
                </mat-slider>
              </section>

              <mat-divider></mat-divider>
              <section class="section">
                <h2>Column Spacing</h2>
                <mat-slider class="slider" thumbLabel min="0" max="100" step="1"
                  [(ngModel)]="displaySettings.columnSpacingPx">
                </mat-slider>
              </section>

              <mat-divider></mat-divider>
              <section class="section">
                <h2>Row Spacing</h2>
                <mat-slider class="slider" thumbLabel min="0" max="100" step="1"
                  [(ngModel)]="displaySettings.rowSpacingPx">
                </mat-slider>
              </section>
            </mat-expansion-panel>

            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Visibility
                </mat-panel-title>
                <mat-panel-description>
                </mat-panel-description>
              </mat-expansion-panel-header>

              <section class="section visibilityBox">
                <mat-checkbox class="example-margin" [(ngModel)]="displaySettings.displayUserInfo">User Info
                </mat-checkbox>
                <mat-checkbox class="example-margin" [(ngModel)]="displaySettings.displayTrophyCounts"
                  [disabled]="!displaySettings.displayUserInfo">
                  Trophy Counts
                </mat-checkbox>
                <mat-checkbox class="example-margin" [(ngModel)]="displaySettings.displayGameTitle">Game Title
                </mat-checkbox>
                <mat-checkbox class="example-margin" [(ngModel)]="displaySettings.displayTrophyTitle">Trophy Title
                </mat-checkbox>
                <mat-checkbox class="example-margin" [(ngModel)]="displaySettings.displayRarity">Rarity</mat-checkbox>
                <mat-checkbox class="example-margin" [(ngModel)]="displaySettings.displayDateUnlocked">Date Unlocked
                </mat-checkbox>
                <mat-checkbox class="example-margin" [(ngModel)]="displaySettings.displayWatermark">Watermark
                </mat-checkbox>
              </section>
            </mat-expansion-panel>

            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Sorting
                </mat-panel-title>
                <mat-panel-description>
                </mat-panel-description>
              </mat-expansion-panel-header>

              <section class="section">
                <h2>Sort Order</h2>
                <mat-radio-group class="radioGroup" aria-label="Sort Order" [(ngModel)]="sortOrder"
                  (change)="applyFilters()">
                  <mat-radio-button class="radioButton" value="date">Date</mat-radio-button>
                  <mat-radio-button class="radioButton" value="rarity">Rarity</mat-radio-button>
                  <mat-radio-button class="radioButton" value="alpha">Alphabetical (Game)</mat-radio-button>
                </mat-radio-group>
              </section>

              <mat-divider></mat-divider>
              <section class="section">
                <h2>Sort Direction</h2>
                <mat-radio-group class="radioGroup" aria-label="Sort Direction" [(ngModel)]="sortDirection"
                  (change)="applyFilters()">
                  <mat-radio-button class="radioButton" value="asc">Ascending</mat-radio-button>
                  <mat-radio-button class="radioButton" value="des">Descending</mat-radio-button>
                </mat-radio-group>
              </section>
            </mat-expansion-panel>

            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Filters
                </mat-panel-title>
                <mat-panel-description>
                </mat-panel-description>
              </mat-expansion-panel-header>

              <section class="section dateSection">
                <h2>Date Filter</h2>
                <mat-form-field appearance="fill">
                  <mat-label>Enter a date range</mat-label>
                  <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
                    <input matStartDate formControlName="start" placeholder="Start date" (dateChange)="applyFilters()">
                    <input matEndDate formControlName="end" placeholder="End date" (dateChange)="applyFilters()">
                  </mat-date-range-input>
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-date-range-picker #picker></mat-date-range-picker>
                </mat-form-field>
              </section>

              <mat-divider></mat-divider>
              <section class="section dateSection">
                <h2 class="gameFilterTitle">Game Filter</h2>
                <mat-form-field>
                  <input matInput #gameFilterInput placeholder="Enter a game title" autocomplete="off"
                    [(ngModel)]="gameFilterQuery" (keyup)="applyFilters()">
                </mat-form-field>
              </section>

            </mat-expansion-panel>

            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Trophy Cabinet
                </mat-panel-title>
                <mat-panel-description>
                </mat-panel-description>
              </mat-expansion-panel-header>
              <mat-form-field appearance="fill">
                <mat-label>Select your platinums</mat-label>
                <mat-select [formControl]="cabinetForm" (selectionChange)="applyFilters()" multiple>
                  <mat-option *ngFor="let plat of this.psnService.platinums" [value]="plat">{{plat.game}}</mat-option>
                </mat-select>
              </mat-form-field>
            </mat-expansion-panel>

          </mat-accordion>
          <mat-divider class="saveButtonDivider"></mat-divider>
          <button class="saveButton" mat-raised-button color="primary" (click)="trophyCase.save()">Save as
            PNG</button>
          <button class="saveButton" mat-raised-button color="primary" (click)="trophyCase.share()">Share to
            Reddit</button>
          <mat-spinner *ngIf="isSaveLoading" class="save-spinner" [diameter]="30"></mat-spinner>
        </ng-container>
      </div>
    </mat-card-content>
  </mat-card>

  <app-trophy-case #trophyCase *ngIf="psnService.user" [platinums]="currentPlats" [cabinet]="cabinetForm.value"
    [user]="psnService.user" [displaySettings]="displaySettings" (uponIsSaveLoading)="uponIsSaveLoading($event)">
  </app-trophy-case>
</div>