/* You can add global styles to this file, and also import other style files */
@import "@angular/material/prebuilt-themes/purple-green.css";

@font-face {
    font-family: 'SST Roman';
    font-style: normal;
    font-weight: normal;
    src: local('SST Roman'), url('./assets/fonts/SSTRg.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'SST Light';
    font-style: normal;
    font-weight: normal;
    src: local('SST Light'), url('./assets/fonts/SSTLight.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'SST Medium';
    font-style: normal;
    font-weight: normal;
    src: local('SST Medium'), url('./assets/fonts/SSTMedium.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'SST Bold';
    font-style: normal;
    font-weight: normal;
    src: local('SST Bold'), url('./assets/fonts/SSTBold.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'SST Heavy';
    font-style: normal;
    font-weight: normal;
    src: local('SST Heavy'), url('./assets/fonts/SSTHeavy.woff') format('woff');
    font-display: swap;
}
    

body {
    margin: 0;
}
html { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; 
    background-color: rgba(0,0,0,.87);
    padding: 10px;
    box-sizing: border-box;
}
